<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.order.mapper.OrderMapper">
    <resultMap id="orderMap" type="cc.mrbird.febs.order.entity.Order">
        <result column="ORDER_ID" jdbcType="BIGINT" property="factoryId"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="PRODUCT_ID" jdbcType="BIGINT" property="productId"/>
        <result column="QUANTITY" jdbcType="BIGINT" property="quantity"/>
        <result column="DELIVERY_DATETIME" jdbcType="TIME" property="deliveryDatetime"/>
        <result column="SELECTED_FACTORY_ID" jdbcType="BIGINT" property="selectedFactoryId"/>
        <result column="CREATE_TIME" jdbcType="TIME" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIME" property="modifyTime"/>
    </resultMap>

    <sql id="countOrderDetailSql">
        SELECT
        COUNT(1)
        FROM
        t_order o
        WHERE 1 = 1
        <if test="order.userId != null and order.userId != ''">
            AND o.USER_ID = #{order.userId}
        </if>
        <if test="order.status != null and order.status != ''">
            AND o.STATUS = #{order.status}
        </if>
        <if test="order.productId != null and order.productId != ''">
            AND o.PRODUCT_ID = #{order.productId}
        </if>
        <if test="order.deliveryDatetime != null and order.deliveryDatetime != ''">
            AND o.DELIVERY_DATETIME = #{order.deliveryDatetime}
        </if>
        <if test="order.selectedFactoryId != null and order.selectedFactoryId != ''">
            AND o.SELECTED_FACTORY_ID = #{order.selectedFactoryId}
        </if>
        <if test="order.createTimeFrom != null and order.createTimeFrom !=''">
            And o.create_time &gt; #{order.createTimeFrom}
        </if>
        <if test="order.createTimeTo!= null and order.createTimeTo !=''">
            And o.create_time &lt; #{order.createTimeTo}
        </if>
    </sql>

    <sql id="countOrderDetailWithStatusSql">
        SELECT
        COUNT(1)
        FROM
        t_order o
        WHERE 1 = 1
        <if test="order.status != null and order.status != ''">
            AND o.STATUS != #{order.status}
        </if>
        <if test="order.selectedFactoryId != null and order.selectedFactoryId != ''">
            AND o.SELECTED_FACTORY_ID = #{order.selectedFactoryId}
        </if>
    </sql>

    <sql id="findOrderDetailSql">
        SELECT
        o.ORDER_ID orderId,
        o.USER_ID userId,
        o.status,
        p.PRODUCT_NAME productName,
        o.DELIVERY_DATETIME deliveryDatetime,
        p.CREATE_TIME createTime,
        f1.FACTORY_NAME selectedFactoryName,
        f1.FACTORY_ID selectedFactoryId,
        u.USERNAME username,
        p.PRODUCT_NAME productName,
        o.QUANTITY quantity
        FROM
        t_order o
        LEFT JOIN t_product p on o.PRODUCT_ID = p.PRODUCT_ID
        LEFT JOIN t_user u on o.USER_ID = u.USER_ID
        LEFT JOIN t_factory f1 on o.SELECTED_FACTORY_ID = f1.FACTORY_ID
        WHERE 1 = 1
        <if test="order.userId != null and order.userId != ''">
            AND o.USER_ID = #{order.userId}
        </if>
        <if test="order.username != null and order.username != ''">
            AND u.USERNAME = #{order.username}
        </if>

        <if test="order.status != null and order.status != ''">
            AND o.STATUS = #{order.status}
        </if>
        <if test="order.productId != null and order.productId != ''">
            AND o.PRODUCT_ID = #{order.productId}
        </if>
        <if test="order.deliveryDatetime != null and order.deliveryDatetime != ''">
            AND o.DELIVERY_DATETIME = #{order.deliveryDatetime}
        </if>
        <if test="order.selectedFactoryId != null and order.selectedFactoryId != ''">
            AND o.SELECTED_FACTORY_ID = #{order.selectedFactoryId}
        </if>
        <if test="order.createTimeFrom != null and order.createTimeFrom !=''">
            And o.create_time &gt; #{order.createTimeFrom}
        </if>
        <if test="order.createTimeTo!= null and order.createTimeTo !=''">
            And o.create_time &lt; #{order.createTimeTo}
        </if>
    </sql>

    <sql id="countOtherOrderDetailSql">
        SELECT
        COUNT(1)
        FROM
        t_order o
        WHERE 1 = 1
        <if test="order.userId != null and order.userId != ''">
            AND o.USER_ID != #{order.userId}
        </if>
    </sql>

    <sql id="findOtherOrderDetailSql">
        SELECT
        o.ORDER_ID orderId,
        o.USER_ID userId,
        o.status,
        p.PRODUCT_NAME productName,
        o.DELIVERY_DATETIME deliveryDatetime,
        p.CREATE_TIME createTime,
        f1.FACTORY_NAME selectedFactoryName,
        f1.FACTORY_ID selectedFactoryId,
        u.USERNAME username,
        p.PRODUCT_NAME productName,
        o.QUANTITY quantity
        FROM
        t_order o
        LEFT JOIN t_product p on o.PRODUCT_ID = p.PRODUCT_ID
        LEFT JOIN t_user u on o.USER_ID = u.USER_ID
        LEFT JOIN t_factory f1 on o.SELECTED_FACTORY_ID = f1.FACTORY_ID
        WHERE 1 = 1
        <if test="order.userId != null and order.userId != ''">
            AND o.USER_ID != #{order.userId}
        </if>
    </sql>

    <sql id="countMyOrderDetailSql">
        SELECT
        COUNT(1)
        FROM
        t_order o
        LEFT JOIN t_user_factory uf on o.SELECTED_FACTORY_ID = uf.FACTORY_ID
        WHERE 1 = 1
        <if test="order.selectedUserId != null and order.selectedUserId != ''">
            AND uf.USER_ID = #{order.selectedUserId}
        </if>
        <if test="order.status != null and order.status != ''">
            AND o.STATUS = #{order.status}
        </if>
    </sql>

    <sql id="findMyOrderDetailSql">
        SELECT
        o.ORDER_ID orderId,
        o.USER_ID userId,
        o.status,
        p.PRODUCT_NAME productName,
        o.DELIVERY_DATETIME deliveryDatetime,
        p.CREATE_TIME createTime,
        f.FACTORY_NAME selectedFactoryName,
        uf.FACTORY_ID selectedFactoryId,
        uf.USER_ID selectedFactoryId,
        u.USERNAME username,
        p.PRODUCT_NAME productName,
        o.QUANTITY quantity
        FROM
        t_order o
        LEFT JOIN t_product p on o.PRODUCT_ID = p.PRODUCT_ID
        LEFT JOIN t_user u on o.USER_ID = u.USER_ID
        LEFT JOIN t_user_factory uf on o.SELECTED_FACTORY_ID = uf.FACTORY_ID
        LEFT JOIN t_factory f ON f.FACTORY_ID = o.SELECTED_FACTORY_ID
        LEFT JOIN t_user u1 ON u1.USER_ID =uf.USER_ID
        WHERE 1 = 1
        <if test="order.selectedUserId != null and order.selectedUserId != ''">
            AND uf.USER_ID = #{order.selectedUserId}
        </if>
        <if test="order.status != null and order.status != ''">
            AND o.STATUS = #{order.status}
        </if>
    </sql>


    <select id="countOrderDetail" parameterType="order" resultType="long">
        <include refid="countOrderDetailSql"/>
    </select>

    <select id="findOrderDetailPage" parameterType="order" resultType="order">
        <include refid="findOrderDetailSql"/>
    </select>

    <select id="findOrderDetail" parameterType="order" resultType="order">
        <include refid="findOrderDetailSql"/>
    </select>

    <select id="countOrderDetailWithStatus" parameterType="order" resultType="long">
        <include refid="countOrderDetailWithStatusSql"/>
    </select>

    <select id="countOtherOrderDetail" parameterType="order" resultType="long">
        <include refid="countOtherOrderDetailSql"/>
    </select>

    <select id="findOtherOrderDetailPage" parameterType="order" resultType="order">
        <include refid="findOtherOrderDetailSql"/>
    </select>

    <select id="findOtherOrderDetail" parameterType="order" resultType="order">
        <include refid="findOtherOrderDetailSql"/>
    </select>

    <select id="countMyOrderDetail" parameterType="order" resultType="long">
        <include refid="countMyOrderDetailSql"/>
    </select>

    <select id="findMyOrderDetailPage" parameterType="order" resultType="order">
        <include refid="findMyOrderDetailSql"/>
    </select>

    <select id="findMyOrderDetail" parameterType="order" resultType="order">
        <include refid="findMyOrderDetailSql"/>
    </select>

</mapper>
