<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.order.mapper.OrderMapper">
    <resultMap id="orderMap" type="cc.mrbird.febs.order.entity.Order">
        <result column="ORDER_ID" jdbcType="BIGINT" property="factoryId"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="PRODUCT_ID" jdbcType="BIGINT" property="productId"/>
        <result column="QUANTITY" jdbcType="BIGINT" property="quantity"/>
        <result column="DELIVERY_DATETIME" jdbcType="TIME" property="deliveryDatetime"/>
        <result column="SELECTED_FACTORY_ID" jdbcType="BIGINT" property="selectedFactoryId"/>
        <result column="CREATE_TIME" jdbcType="TIME" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIME" property="modifyTime"/>
    </resultMap>

    <sql id="countOrderDetailSql">
        SELECT
        COUNT(1)
        FROM
        t_order o
        WHERE 1 = 1
        <if test="order.userId != null and order.userId != ''">
            AND o.USER_ID = #{order.userId}
        </if>
        <if test="order.status != null and order.status != ''">
            AND o.STATUS = #{order.status}
        </if>
        <if test="order.productId != null and order.productId != ''">
            AND o.PRODUCT_ID = #{order.productId}
        </if>
        <if test="order.deliveryDatetime != null and order.deliveryDatetime != ''">
            AND o.DELIVERY_DATETIME = #{order.deliveryDatetime}
        </if>
        <if test="order.selectedFactoryId != null and order.selectedFactoryId != ''">
            AND o.SELECTED_FACTORY_ID = #{order.selectedFactoryId}
        </if>
        <if test="order.createTimeFrom != null and order.createTimeFrom !=''">
            And o.create_time &gt; #{order.createTimeFrom}
        </if>
        <if test="order.createTimeTo!= null and order.createTimeTo !=''">
            And o.create_time &lt; #{order.createTimeTo}
        </if>
    </sql>

    <sql id="findOrderDetailSql">
        SELECT
        o.ORDER_ID orderId,
        o.USER_ID userId,
        o.status,
        p.PRODUCT_NAME productName,
        o.DELIVERY_DATETIME deliveryTime,
        f.FACTORY_NAME factoryName
        FROM
        t_order o
        LEFT JOIN t_product p on o.PRODUCT_ID = p.PRODUCT_ID
        LEFT JOIN t_user u on o.USER_ID = u.USER_ID
        LEFT JOIN t_factory f on o.SELECTED_FACTORY_ID = f.FACTORY_ID
        WHERE 1 = 1
        <if test="order.userId != null and order.userId != ''">
            AND o.USER_ID = #{order.userId}
        </if>
        <if test="order.status != null and order.status != ''">
            AND o.STATUS = #{order.status}
        </if>
        <if test="order.productId != null and order.productId != ''">
            AND o.PRODUCT_ID = #{order.productId}
        </if>
        <if test="order.deliveryDatetime != null and order.deliveryDatetime != ''">
            AND o.DELIVERY_DATETIME = #{order.deliveryDatetime}
        </if>
        <if test="order.selectedFactoryId != null and order.selectedFactoryId != ''">
            AND o.SELECTED_FACTORY_ID = #{order.selectedFactoryId}
        </if>
        <if test="order.createTimeFrom != null and order.createTimeFrom !=''">
            And o.create_time &gt; #{order.createTimeFrom}
        </if>
        <if test="order.createTimeTo!= null and order.createTimeTo !=''">
            And o.create_time &lt; #{order.createTimeTo}
        </if>
    </sql>

    <select id="countOrderDetail" parameterType="order" resultType="long">
        <include refid="countOrderDetailSql"/>
    </select>

    <select id="findOrderDetailPage" parameterType="order" resultType="order">
        <include refid="findOrderDetailSql"/>
    </select>

    <select id="findOrderDetail" parameterType="order" resultType="order">
        <include refid="findOrderDetailSql"/>
    </select>

</mapper>
