<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.order.mapper.OrderReceiverMapper">
    <select id="countOrderReceiverDetail" parameterType="orderReceiver" resultType="long">
        SELECT COUNT(1)
        FROM t_order_receiver tor
        WHERE 1=1
        <if test="orderReceiver.receiverId != null and orderReceiver.receiverId != ''">
            AND tor.RECEIVER_ID = #{orderReceiver.receiverId}
        </if>
    </select>
</mapper>
