<script
        type="text/html"
        template
        lay-api="getMenus"
        lay-done="layui.element.render('nav','febs-sidebar');layui.febs.sidebarFocus()">
  <ul class="layui-nav layui-nav-tree" lay-filter="febs-sidebar" lay-shrink="all">
    {{#
    function __createSlidebar(data,index){
    if(!data || data.length == 0) return '';
    let html = '
    <dl class="layui-nav-child">';
      layui.each(data, function(i, child) {
      let left = index == 0 ? 50 : 50 + index * 20;
      let title = child.title;
      if (child.icon) {
      title = '<i class="layui-icon '+child.icon+'"></i>' + child.title
      }
      html += '
      <dd><a style="padding-left:' + left + 'px" target="'+(child.target||'')+'"
             lay-href="'+ (child.href||'') +'">' + title + '</a>';
        if(child.childs) html += __createSlidebar(child.childs,index+1);
        html += '
      </dd>
      ';
      });
      html = html +'
    </dl>
    ';
    return html;
    }
    layui.each(d.childs, function(i,child){
    }}
    <li class="layui-nav-item">
      <a lay-href="{{child.href||''}}" target="{{child.target||''}}" title="{{child.title}}"><i
              class="layui-icon {{child.icon}}"></i>{{child.title}} {{# if(child.notice){ }}<span
              class="layui-badge">{{ child.notice }}</span>{{# } }}</a>
      {{ __createSlidebar(child.childs,0) }}
    </li>
    {{# }) }}
  </ul>
</script>