<style>
    #equipment-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="equipment-update">
    <form class="layui-form" action="" lay-filter="equipment-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">设备id：</label>
            <div class="layui-input-block">
                <input type="text" name="equipmentId" data-th-value="${equipment.equipmentId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备名：</label>
            <div class="layui-input-block">
                <input type="text" name="equipmentName" minlength="4" maxlength="10"
                       data-th-id="${equipment.equipmentName}"
                       lay-verify="range|equipmentName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">设备描述：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea">
                </textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="equipment-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'xmSelect', 'validate'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            equipment = [[${equipment}]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initEquipmentValue();

        function initEquipmentValue() {
            form.val("equipment-update-form", {
                "equipmentName": equipment.equipmentName,
                "status": equipment.status,
                "description": equipment.description
            });
        }

        form.on('submit(equipment-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, equipment)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'equipment/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(equipment.equipmentName + ' 工厂数据修改成功');
                $('#febs-equipment').find('#query').click();
            });
            return false;
        });
    });
</script>